/////////////////////////////////////////////////////////////
// Section specific
/////////////////////////////////////////////////////////////





/////////////////////////////////////////////////////////////
// Common setup
/////////////////////////////////////////////////////////////



body
{
    background:white;
    color:#333;
}

header
{
    text-align:center;
    font-family: 'Orbitron', sans-serif;
    font-size:40px;
    margin-top:20px;
    
    .subHeader
    {
        font-size:14px;
        color:#777;
        
        a
        {
            color:#77F;   
        }
    }
}

main
{
    position:absolute;
    
    $width:600px;
    width:$width;
    left:50%;
    margin-left:-300px;
    margin-top:20px;
    
    font-family: 'Lato', sans-serif;
    font-size:16px;
    line-height:25px;
    text-align:justify;
    font-weight: 400; 
    color:#555;
}

.button
{
    //Appearance
    display: inline-block;
    width: 140px;
    padding: 5px;    
    margin:10px;
    cursor:pointer;
    
    line-height:20px;
    background: #27ae60;
    
    //Text
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 200;
    vertical-align:middle;
    span
    {
        user-select: none;
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        height: 100%; 
        display: table-cell;
        vertical-align: middle;
    }
}

.bigButton
{
    $height:50px;
    height:$height;
    span
    {
        user-select: none;
        height: $height; 
        display: table-cell;
        vertical-align: middle;
    }
}

.button:hover
{
    background:#2ecc71;
}




dcdode
{
    display:block;
    background: #F9F9F9;
    width:90%;
    font-size:14px;
    padding-left:10px;
    padding-right:10px;
    border: #DDD 1px solid;
}

section
{
    padding-top:10px;
    padding-bottom:15px;
    border-top: 1px #CDCDCD solid;
}

main section:nth-child(1)
{
    border-top: 0px;
}


section:before
{
    content: attr(title);
    font-weight:bold;
    display:block;
    padding-bottom:10px;
}
footer
{
    margin-top:20px;
    bottom:5px;
    
    //border-top: 1px #CDCDCD solid;
    
    text-align:right;
    font-family: 'Lato', sans-serif;

    font-size:12px;
    color:#666;
    
    a, a:visited
    {
        color:#666;
    }
}



.stats table
{
    width:100%;
    font-size:13px;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    tr:nth-child(even)
    {
        background: #efefef;
    }
    tr td:nth-child(1)
    {
        font-weight:bold;
        min-width:200px;
    }
    
    tr td:nth-child(2)
    {
        padding-left:10px;
        width:100%;
    }
    
}




.customClass
{
    background:#16a085 !important;
    color:white !important;
    top:30% !important;
    border-radius:100px !important;
    text-align:center !important;
    padding-bottom:200px !important;
    
    //Animation
    animation-duration: 10s; 
    animation-fill-mode: both;
    transform-origin: top center; 
    animation-name: swing; 
}
 @keyframes swing { 
            20% { transform: rotate(15deg); } 
            40% { transform: rotate(-10deg); } 
            60% { transform: rotate(5deg); } 
            80% { transform: rotate(-5deg); } 
            100% { transform: rotate(3deg); } 
         }
         
         
         
.copyright
{
    a,a:visited
    {
        color:#666;
    }
}